@model UserModel
<div class="container mt-5 bg-light p-3">
    <div class="text-center">
        <h3>Digite seu email para recuperar sua senha</h3>
        @if(TempData["errorMail"] != null)
        {
            <div class="alert alert-danger">
                @TempData["errorMail"]
            </div>
        }
    </div>
    @using (Html.BeginForm("VerifyEmail", "ForgotPassword", FormMethod.Post))
    {
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Email">
                    <label for="floatingInput">Email</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Prosseguir</button>
            </div>
        </div>
    }
    
</div>