@model UserPhotoViewModel


<div class="container">
    <div class="text-center">
        <h1 class="display-6">Meu perfil</h1>
    </div>
    @using (Html.BeginForm("UploadFile", "MyProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-3 mt-5">
                <div class="wrap">
                    <img src="@Model.userModel.photo_uri" class="main-profile-img" />
                    <button class="edit-button" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"><i class="bi bi-pen"></i></button>
                </div>
            </div>
            <div class="col-9 mt-5">

                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"  asp-for="userModel.Email">
                            <label for="floatingInput">Email</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"  asp-for="userModel.Name">
                            <label for="floatingInput">Nome</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"  asp-for="userModel.Cpf">
                            <label for="floatingInput">CPF</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"  asp-for="userModel.Phone">
                            <label for="floatingInput">Telefone</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"  asp-for="userModel.Cep">
                            <label for="floatingInput">CEP</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"  asp-for="userModel.Address">
                            <label for="floatingInput">Endereço</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"  asp-for="userModel.District">
                            <label for="floatingInput">Bairro</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com"  asp-for="userModel.Number">
                            <label for="floatingInput">Número</label>
                        </div>
                        <input type="hidden" asp-for="userModel.Id" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col text-center">
                <button class="btn btn-warning mt-2" style="margin-left: 60px" id="sendImage" type="submit">Atualizar informações</button>
          </div>
        </div>

        @*-----------------MODAL--------------------*@

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Enviar foto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>Enviar novo foto de perfil:</h5>
                        <input type="file" accept="image/*" name="file" id="fileModal" asp-for="File"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="SendImageToIcon()">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    }




</div>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-6">Instituições associadas a você</h1>
    </div>
    @if (true)
    {
        <div class="alert alert-secondary text-center">
            <h5>Ops... Parece que você não tem associação a nenhuma instituição...</h5>
            <div class="row">
                <div class="col mt-3">
                    <button asp-controller="Institutions" asp-action="Index" class="btn btn-secondary">Achar minha instituição já!</button>
                </div>
            </div>
        </div>
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>
    }
</div>




<style>
    .main-profile-img {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        border-style: solid;
        border-color: #FFFFFF;
        box-shadow: 0 0 8px 3px #B8B8B8;
        position: relative;
    }

    .wrap {
        position: relative;
    }

    .edit-button {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid grey;
        top: 0;
        left: 113px;
        background: white;
        color: blue;
    }
</style>


<script>
    
    function SendImageToIcon() {
       
          document.querySelector('.main-profile-img').src = URL.createObjectURL(document.getElementById("fileModal").files[0]);

        $('#exampleModal').modal('hide')
       
    }

</script>


