@model InstitutionModel

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Atualizar instituição</h1>
        </div>
    </div>

    <div class="container bg-light p-3">
        <div class="row">
            <div class="col text-center">
                <h3 class="display-6">Dados pessoais</h3>
            </div>
        </div>
        @using(Html.BeginForm("UpdateInstitutionById", "MyProfile", FormMethod.Post))
        {
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="InstitutionName">
                        <label for="floatingInput">Nome</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Email">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Cnpj" onblur="if(!validarCNPJ(this.value)) return alert('CNPJ Inválido') ">
                        <label for="floatingInput">CNPJ</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Phone">
                        <label for="floatingInput">Número de telefone</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <h3 class="display-6">Informações de localidade</h3>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Address">
                        <label for="floatingInput">Endereço</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="District">
                        <label for="floatingInput">Bairro</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Cep">
                        <label for="floatingInput">CEP</label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Number">
                        <label for="floatingInput">Número</label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="OwnerName">
                        <label for="floatingInput">Diretor da instituição</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="OwnerCpf">
                        <label for="floatingInput">CPF</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" asp-for="Description">@Model.Description</textarea>
                        <label for="floatingTextarea2">Descrição</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-warning">Atualizar</button>
                    <input type="hidden" asp-for="Id" />
                </div>
            </div>

        }
       
</div>
<script>

        function validarCNPJ(cnpj) {

            cnpj = cnpj.replace(/[^\d]+/g, '');

            if (cnpj == '') return false;

            if (cnpj.length != 14)
                return false;

            // Elimina CNPJs invalidos conhecidos
            if (cnpj == "00000000000000" ||
                cnpj == "11111111111111" ||
                cnpj == "22222222222222" ||
                cnpj == "33333333333333" ||
                cnpj == "44444444444444" ||
                cnpj == "55555555555555" ||
                cnpj == "66666666666666" ||
                cnpj == "77777777777777" ||
                cnpj == "88888888888888" ||
                cnpj == "99999999999999")
                return false;

            // Valida DVs
            tamanho = cnpj.length - 2
            numeros = cnpj.substring(0, tamanho);
            digitos = cnpj.substring(tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(0))
                return false;

            tamanho = tamanho + 1;
            numeros = cnpj.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(1))
                return false;

            return true;

        }
</script>