@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container text-center border mt-5">
    <div class="row">
        <div class="col mt-3">
            <h3 class="display-6">Login - Avalia Aê!</h3>
        </div>
    </div>
    <div class="row m-5">
        @using (Html.BeginForm("ForTest", "Login", FormMethod.Post))
        {
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput"><i class="bi bi-envelope-check-fill"></i> Email</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput"><i class="bi bi-key-fill"></i> Senha</label>
                    </div>
                </div>
            </div>
            <a asp-controller="ForgotPassword" asp-action="Index">Esqueci minha senha</a>

            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                    <a asp-controller="Register" asp-action="Index" class="btn btn-secondary">Registrar-se</a>

                </div>

            </div>
        }
       
    </div>
</div>