@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center welcome mb-3">
    <div class="container">

        <div class="row ">
            <div class="col title">
                <h1 class="text-light">Seja muito bem-vindo(a) ao Avalia Aê!</h1>
            </div>
        </div>

        <div class="row">
            <div class="col subtitle">
                <h3 class="text-light">Onde o que importa é sua opinião!</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary button-startup">Começar já!</button>
            </div>
        </div>

    </div>
    
</div>

<div class="container text-center">
    <h5 <b>O Avalia Aê! te da a oportunidade de aproximação com as principais instituições de educação do município</b></h5>
    <h5 class="text-muted">Avalie, compare e pesquise as principais instituições de ensino de Santana de Parnaíba!</h5>

    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
