@{
    ViewData["Title"] = "Home - Avalia Aê!";
}

<div class="text-center welcome mb-3">
    <div class="container">

        <div class="row ">
            <div class="col title">
                <h1 class="text-light">Seja muito bem-vindo(a) ao Avalia Aê!</h1>
            </div>
        </div>

        <div class="row">
            <div class="col subtitle">
                <h3 class="text-light">Onde o que importa é sua opinião!</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary button-startup">Começar já!</button>
            </div>
        </div>

    </div>
    
</div>

<div class="container text-center bg-light border-5">
    <div class="row">
        <div class="col mt-5">
            <h5><b>O Avalia Aê! te da a oportunidade de aproximação com as principais instituições de educação do município</b></h5>
        </div>
    </div>
    <div class="row">
        <div class="col mb-5">
            <h5 class="text-muted">Avalie, compare e pesquise as principais instituições de ensino de Santana de Parnaíba!</h5>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-dark btn-lg">Fazer uma avaliação</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-success btn-lg">Cadastrar uma instituição</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-primary btn-lg">Cadastrar pessoa física</button>
        </div>
        <div class="col mb-5">
            <button type="button" class="btn btn-outline-secondary btn-lg">Central de Ajuda</button>
        </div>
    </div>
</div>

<div class="container mt-5">
    
    <div class="row">
        <div class="col-5">
            <h2>Ranking de instituições</h2>
            <h5>
                A partir das avaliações de alunos que <br /> frequentam ou frequentavam
                as escolas ou faculdades, <br />o Avalia Aê cria um ranking dos mais e menos avaliados<br />
            no site.
            </h5>
            <a class="btn btn-outline-primary btn-lg">Visualizar rankings completos </a>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-success text-center">
                        <h5 class="text-light">Mais bem avaliadas</h5>
                    </li>
                    <li class="list-group-item">
                        <h6>1º Fatec Santana de Parnaíba</h6>
                        <b style="color: green">Média: 5.5/6</b>
                    </li>
                    <li class="list-group-item">
                        <h6>2º Fatec Santana de Parnaíba</h6>
                        <b style="color: green">Média: 5.5/6</b>
                    </li>
                    <li class="list-group-item">
                        <h6>3º Fatec Santana de Parnaíba</h6>
                        <b style="color: green">Média: 5.5/6</b>
                    </li>
                    <li class="list-group-item">
                        <h6>4º Fatec Santana de Parnaíba</h6>
                        <b style="color: green">Média: 5.5/6</b>
                    </li>
                    <li class="list-group-item">
                        <h6>5º Fatec Santana de Parnaíba</h6>
                        <b style="color: green">Média: 5.5/6</b>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-danger text-center">
                        <h5 class="text-light">Menos bem avaliadas</h5>
                    </li>

                    <li class="list-group-item">
                        <h6>1º Fatec Santana de Parnaíba</h6>
                        <b style="color: darkred">Média: 2.0/6</b>
                    </li>
                    <li class="list-group-item">
                        <h6>2º Fatec Santana de Parnaíba</h6>
                        <b style="color: darkred">Média: 1.7/6</b>
                    </li>
                    <li class="list-group-item">
                        <h6>3º Fatec Santana de Parnaíba</h6>
                        <b style="color: darkred">Média: 1.6/6</b>
                    </li>
                    <li class="list-group-item">
                        <h6>4º Fatec Santana de Parnaíba</h6>
                        <b style="color: darkred">Média: 1.3/6</b>
                    </li>
                    <li class="list-group-item">
                        <h6>5º Fatec Santana de Parnaíba</h6>
                        <b style="color: darkred">Média: 1.0/6</b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="for-school mt-5">
    <div class="container">
        <div class="row text-light">
            <div class="col mt-5">
                <h3>Avalia Aê! Para instituições:</h3>
            </div>
           
        </div>
        <div class="row text-light mb-3">
            <div class="col mt-3">
                <h6>Nos comprometemos em manter a relação aluno e escola sobre <br />segurança, transparência e sigilo.
                    Portanto, ao se cadastrar no nosso site, <br /> garantimos segurança nos dados e confidencialidade.<br />
                    Venha participar do Avalia Aê! E destaque a sua escola.
                </h6>
            </div>

        </div>
        <div class="row">
            <img src="~/img/logos/face.png" style="width: 200px"/>
        </div>
    </div>
</div>

