@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container bg-light text-center mt-5 p-5">
    <h4 class="display-6 ">Pesquise o código de uma certificação</h4>
    @using (Html.BeginForm("", "", FormMethod.Post))
    {
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" min="10" max="10">
                    <label for="floatingInput">Código de certificação</label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Pesquisar</button>
    }
      
    
</div>