@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center mt-5">
    <h5 class="display-5">Quem somos?</h5> <br />
</div>

<div class="container">
    <div class="row mb-5">
        <div class="col">
            <h5 class="text-muted">
                O Avalia Aê! vem com a ideia de conseguir dar voz aos professores <br /> e alunos de instituições de ensino de Santana De Parnaíba<br />
                A ideia surgiu com pesquisas de necessidades feito com alunos de sua maioria, <br /> de instituições do Centro de Paula Souza.<br/>
                Para conseguir 
            </h5>
        </div>

        <div class="col">
            <img class="image" width="500px" src="https://img.freepik.com/fotos-premium/grupo-de-jovens-estudantes-felizes-em-uma-universidade_85574-4531.jpg?w=2000" />
        </div>
    </div>
    <hr />
    <div class="text-center">
        <h5 class="display-5">Objetivos</h5> <br />
    </div>
    <div class="row">
        <div class="col">
            <img class="image" width="500px" src="https://nova-escola-producao.s3.amazonaws.com/DyWCP2gqAVN5Qx7NAkpEykZqQ8AVxXdPvknNdFzqDh3eFwxxrsxv8ZRyBDN7/blog-questao-de-ensino-e-possivel-ser-feliz-sendo-professor-shutterstock.jpg" />
        </div>
        <div class="col">
            <h5 class="text-muted">
               1- Evoluir e capacitar cada vez mais escolas do município de Santana de Parnaíba com base em críticas construtivas; <br />
               2- Garantir qualidade nas críticas desenvolvidas pelos usuários e que as mesmas vão ser entregues com integridade; <br />
               3- Desenvolver um melhor relacionamento instituição/aluno; <br />
               4- Melhorar o indice de escolarização no município de Santana de Parnaíba; <br />
               5- Tentar usar a plataforma como base para possíveis melhorias por parte da prefeitura e governo do estado de São Paulo <br />
            </h5>
        </div>
        
        
    </div>

</div>

