@model List<AverageModel>
@{
    int count = 0;
    List<AverageModel> bestByAverage = Model.OrderByDescending(x => x.Average).Take(10).ToList();
    List<AverageModel> bestPublicSchoolByAverage = Model.Where(x => x.Institution.InstitutionType.Id == 2).OrderByDescending(x => x.Average).Take(10).ToList();
    List<AverageModel> bestFacultyByAverage = Model.Where(x => x.Institution.InstitutionType.Id == 3).OrderByDescending(x => x.Average).Take(10).ToList();

}
<div class="text-center m-5">
    <h1 class="display-6">Rankings</h1>
    <h5 class="text-muted">Confira aqui os rankings de instituições por categoria</h5>
    <select class="form-select col-sm-5" aria-label="Default select example">
        <option selected>Todos</option>

    </select>
</div>




<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">As melhores instituições por média</h5>
                    <p class="card-text">29/10/2022</p>
                    @{
                        int contador = 1;
                        foreach (var institution in bestByAverage)
                        {
                            <p> @contador - @institution.Institution.InstitutionName </p>
                            contador++;

                        }
                      
                    }
                   
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">As melhores faculdades por média</h5>
                    <p class="card-text">29/10/2022</p>
                    @{
                        int contadorFaculdade = 1;
                        foreach (var institution in bestFacultyByAverage)
                        {
                            <p> @contadorFaculdade - @institution.Institution.InstitutionName </p>
                            contadorFaculdade++;

                        }

                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">As melhores escolas públicas por média</h5>
                    <p class="card-text">29/10/2022</p>
                    @{
                        int contadorEscolaPublica = 1;
                        foreach (var institution in bestPublicSchoolByAverage)
                        {
                            <p> @contadorEscolaPublica - @institution.Institution.InstitutionName </p>
                            contadorEscolaPublica++;

                        }

                    }
                </div>
            </div>
        </div>
    </div>



</div>
